@font-face {
    font-display: swap;
    font-family: Lobster;
    font-style: normal;
    src: url('./fonts/Lobster-Regular.ttf') format('woff');
  }
  
  @font-face {
    font-display: swap;
    font-family: Exo;
    font-style: normal;
    src: url('./fonts/Exo.ttf') format('woff');
  }
